

.cardLayout{
  background-color: #e10d0d;
  height: 30rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.771);
  background: linear-gradient(
    to right bottom,
    rgba(245, 100, 27, 0.335),
    rgba(255, 24, 182, 0.261)
  );
  transition: transform .3s;

  &:hover{
    transform: scale(0.98);
  }
}

.closeBtn{
  position: absolute;
  color: #fe006e;
  top: 1rem;
  right: 1rem;
  cursor: pointer;

  transition: transform .3s;
  &:hover{
    transform: scale(1.4);
  }
}
.imgCard{
  object-fit:cover;
  width: 100%;
  height: 60%;
}

.imgModal{
  position: absolute;
  width: 100%;
  height: 30rem;
  object-fit: cover;
  z-index: -1;
  border-radius: 2rem;
}

.contentModal{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.modal{
  position: relative;
  width: 90%;
  max-width: 50rem;
  height: 30rem;
  top: 5rem;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.771);
  border-radius: 2rem;
  box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.229);
  padding: 0 24px;


  display: flex;
  justify-content: center;
  
}

.tecnologies{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.overlayModal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.219);
}
.modalLink{
  color: white;
  margin: 5px 0;
  font-weight: bold;
  cursor: pointer;
  transition: color .3s;
  &:hover{
    color: red;
  }
}
