
.technology-card{
    border: 1px solid #333;
    border-radius: .5rem;

    h3{
        display: flex;
        justify-content: center;
        font-weight: bold;
        align-items: center;
        color: var(--text-color);
        padding: 1rem 2rem;
    }

    svg{
        font-size: 2rem;
        
    }
}

#html{
    svg{
        color: #E44D26;
    }
}
#css{
    svg{
        color: #1572b6;
    }
}
#js{
    svg{
        color: #f0db4f;
    }
}

#react{
    svg{
        color: #61dafb;
    }
}

@media(max-width: 550px){
    .technologies-grid{
        flex-direction: column;
        align-items: center;

        .technology-card{
            width: 100%;
            font-size: 1.2rem;
        }
    }
}