@import '../../styles/variables.scss';



.portfolio-container{
    display: flex;
    place-content: center;
    gap: 1rem;
    margin-top: 3rem;


    .card{
        width: 330px;
        height: 400px;
        color: white;
        transition: .3s;
        box-shadow: 5px 10px 20px $bg-color;
        overflow: hidden;
        &>*{
            display: flex;
            flex-direction: column;
            justify-content: center;
            opacity: 0;
            transition: .4s;

            h2{
                background:$gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &.img-card{
                opacity: 1;
                height: 100%;
                
            }

            &:hover{
                opacity: 1;
                background-color: rgba(0, 0, 0, 0.486);
            }


            button{
                width: 10rem;
                margin-top: 1rem;

                a{
                    text-decoration: none;
                    color:rgb(0, 140, 255);
                    font-weight: 500;
                }
            }
    
        }


        &:hover{
            top: -7px;
            
            &:before{
                filter: brightness(.3);
            }


        }
    }
}