
.portfolio-container{
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 2rem 0;


    .card{
        max-width: 330px;
        height: 400px;
        color: white;
        transition: .3s;
        box-shadow: 5px 10px 20px var(--bg-color);
        overflow: hidden;
        &>*{
            display: flex;
            flex-direction: column;
            justify-content: center;
            opacity: 0;
            transition: .4s;

            &.img-card{
                opacity: 1;
                height: 100%;
                
            }

            &:hover{
                opacity: 1;
                background-color: rgba(0, 0, 0, 0.486);
            }


            button{
                width: 10rem;
                margin-top: 1rem;

                a{
                    text-decoration: none;
                    color:rgb(0, 140, 255);
                    font-weight: 500;
                }
            }
    
        }
    }
}

@media (max-width: 884px){
    .card{
        max-width: 300px;

        &>*{
            opacity: 1;
            transition: .4s;


            &.img-card{
                opacity: 0;
                height: 100%;
                
            }

            &:hover{
                opacity: 1;
                background-color: rgba(0, 0, 0, 0.486);
            }
    
        }

    }
}
