.name{
  font-weight: 900;
  text-align: center;
  font-size: 4.9vw;
}

.subtitle{
  font-size: 1.5vw;

  span{
    font-size: 3vw;
  }
}
@media(min-width: 1645px){
  .name{
    font-size: 3.5vw;
  }
  
}

@media(max-width: 405px){
  .subtitle{
    font-size: .8rem;

    span{
      font-size: 1.3rem;
    }
  }
}