@import '../../styles/variables.scss';

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
    h3{  
        font-size: 2rem;
        background:$gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    button{
        background: $gradient;
    }
}

.sidebar{
    background-color: $bg-color-secondary;
    color: $text-color;
    
    .navLinks{
        @include gradient-border;
    }
}
