
@import '../../styles/variables.scss';

.main-Content{
    display: grid;
    place-content: center;
    height: 80vh;


    h1{
        font-size: 4rem;
        transition: .8s;

        &:hover{
            background:$gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    p{
        font-size: 2rem;
        color: $text-color-secondary;
        text-align: center;

        span{
            display: inline-block;
            background:$gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@media (max-width: 1000px){
    .main-Content{
        h1{
            font-size: 2.5rem;
            transition: .8s;
        }
    }
}
@media (max-width: 770px){
    .main-Content{
        h1{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.4rem;
            color: $text-color-secondary;
        }
    }
}